<section class="vh-100 gradient-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">

<div class="container" *ngIf="educacion"> 
    <div class="row"> 
        <div> 
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> 
                <div class="form-group">
                   <h2><label for="nameE">Nombre de la institución</label></h2> 
                    <input type="text" class="form-control" id="nameE" name="nameE" [(ngModel)]="educacion.nameE" required>
                </div>
                <div class="form-group">
                   <h2><label for="descripcionE">Descripción de estudios</label></h2> 
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
                </div>
                <button class="btn btn-primary">
                    Editar educación
                </button>
            </form>
        </div>
    </div>
</div></div>