.row{ 
    padding: 20px; 
    font-family: Century Gothic;
    flex-wrap: wrap;
    
    @media(max-width:575px){ 
    flex-direction: column;
}
}
div{ 
    background-color: #adb0bf;
   
}
h1, h2, h3{ 
    Display: flex;
}
h1{ 
    color:aliceblue
}