<section class="vh-100 gradient-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">

<div class="container" *ngIf="proyecto"> 
  <div class="row"> 
      <div> 
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> 
              <div class="form-group">
                 <h2><label for="nameP">Nombre del proyecto</label></h2> 
                  <input type="text" class="form-control" id="nameP" name="nameP" placeholder="Titulo" [(ngModel)]="proyecto.nameP" required>
              </div>
              <div class="form-group">
                 <h2><label for="descripcionP">Descripción de proyecto</label></h2> 
                  <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required>
              </div>
              <div class="form-group">
                <h2><label for="imagenP">Imagen del proyecto</label></h2> 
                 <input type="text" class="form-control" id="imagenP" name="imagenP" [(ngModel)]="proyecto.imagenP" required>
             </div>
              <button class="btn btn-primary">
                  Editar Proyecto
              </button>
          </form>
      </div>
  </div>
</div></div>
