<!--<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-lg-2"> 
            <button type="button" class="btn btn-success" routerLink="/nuevoproy" *ngIf="isLogged"><i class="bi bi-plus-circle"></i>
                Agregar Proyecto
            </button>
            <div class="col lg 1"></div>
            <div class="col-lg-11">
             <table class="table"> 
                <tbody> 
                   <tr *ngFor="let Proyecto of proy"> 
                       <td>
                            <h2>{{Proyecto.nameP}}</h2>
                       </td>
                       <td>{{Proyecto.descripcionP}}</td>
                       <td><img src="{{Proyecto.imagenP}}" alt=""/></td>
                       
                         <td *ngIf="isLogged">
                             <button class="btn btn-secondary" routerLink="/editproyecto/{{Proyecto.id}}">
                                 <i class="bi bi-pencil"></i> EDITAR
                             </button>
                       <td *ngIf="isLogged">
                        <button class= "btn btn-warning" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash"></i> BORRAR</button>
                        </td>
                   </tr>
                </tbody>
             </table>
           </div>
        </div>
    -->
<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-lg-3"> 
            <button type="button" class="btn btn-success" routerLink="/nuevoproy" *ngIf="isLogged"><i class="bi bi-plus-circle"></i>
                Agregar Proyecto
            </button>
            <div class="col lg 1"></div>
            <div class="col-lg-6">
                <table class="table"> 
                   <tbody> 
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <tr *ngFor="let Proyecto of proy"> 
                 <img class="card-img-top" src="{{Proyecto.imagenP}}" alt="Card image cap">
                 <div class="card-body">
                    <h5 class="card-title">{{Proyecto.nameP}}</h5>
                    <p class="card-text">{{Proyecto.descripcionP}}</p>
                 <td *ngIf="isLogged">
                 <button class="btn btn-secondary" routerLink="/editproyecto/{{Proyecto.id}}">
                 <i class="bi bi-pencil"></i> EDITAR
                 </button>
                <td *ngIf="isLogged">
   <button class= "btn btn-warning" (click)="delete(Proyecto.id)">
       <i class="bi bi-trash"></i> BORRAR</button>
    </div>
  </div>