<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/DSC05031 (1).jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-4 col-md- col-lg-4"> 
        <h2 id="name">{{persona.name}}<br>{{persona.lastname}}</h2>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md- col-lg-6"> 
        <div class="acerca">
        <span> 
            <h1>Acerca de mí</h1>
            <p>Soy una persona proactiva, organizada y responsable, con buenas relaciones interpersonales. En busca de ampliar mis conocimientos en programación, como desarrolladora full stack.</p>
        </span>
    </div></div>
</div>
